html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* This will prevent scrolling */
  font-family: Helvetica, sans-serif;
}

#slideshow {
  text-align: center;
  overflow: hidden;
  width: 100vw;
  margin: 0 auto;
}

.slide-wrapper {
  width: 500vw; /* Adjusted for 5 images */
  animation: slide 25s linear infinite;
}

.slide {
  float: left;
  width: 100vw;
}
#welcomeText{
  position:relative;
}
.slide {
  float: left;
  width: 100vw;
  position: relative; /* Updated */
}

.overlay-text {
  position: absolute;
  top: 50%;  /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  color: white; /* Example text color */
  font-size: 2em; /* Example font size */
  text-align: center;
}


@keyframes slide {
  0%, 15% { transform: translateX(0); }      /* Hold Slide 1 */
  20%, 35% { transform: translateX(-100vw); } /* Transition to Slide 2 */
  40%, 55% { transform: translateX(-200vw); } /* Hold Slide 2 */
  60%, 75% { transform: translateX(-300vw); } /* Transition to Slide 3 */
  80%, 95% { transform: translateX(-400vw); } /* Hold Slide 3 */
  100% { transform: translateX(0); }          /* Transition back to Slide 1 */
}
