
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: space-between; /* Distribute space evenly between columns */
}
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 1 1 33%; /* Grow to fill space, but start at 33% */
    max-width: 33%; /* Maximum width of each column */
    padding: 0;
    box-sizing: border-box; /* Include padding in the width calculation */
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .column img {
    margin-top: 0px;
    vertical-align: middle;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out; /* Smooth transition for the transform */
    transform-origin: center; /* Zoom in from the center */

  }

  .column:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.489);

  }
  .column:hover img{
    transform: scale(1.1); /* Scale up the image slightly on hover */
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex-basis: 50%; /* Start at 50% width */
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex-basis: 100%; /* Full width on small screens */
      max-width: 100%;
    }
  }
  
