html, body {
  overflow: hidden; /* This will prevent scrolling */
  font-family: Arial, sans-serif;
  animation: fadeIn 0.3s ease-in-out forwards;
  color:black;
}
.field-error {color: red;font-weight: bold;} /* validation error */

#slideshow {
  text-align: center;
  overflow: hidden;
  max-width: 80%;
  max-height: auto; /* Max height is set to 100% of the viewport height */
  margin: 0 auto;
  
}

.slide-wrapper {
  width: 500vw; /* Adjusted for 5 images */
  animation: slide 20s infinite; /* Adjust the duration to match your requirement */
}

.slide {
  float: left;
  width: 100vw;
  position: relative;
  
}

.slideText{
  position: relative;
  top: -15vw;
  text-align: center;
  color: white;
  font-size: 4vw;
  animation-duration: 2s;
  animation-fill-mode: both;
  
}

.slide-start {
  animation-name: fadeIn;
  animation-duration: 1s;
}

.slide-end {
  animation-name: fadeOut;
  animation-duration: 1s;
}

@keyframes textFadeIn {
  0%, 25% { opacity: 0; }
  25%, 100% { opacity: 1; }
}

@keyframes textFadeOut {
  0%, 75% { opacity: 1; }
  75%, 100% { opacity: 0; }
}

/* Key Frames for Slide and Fade In animations */
@keyframes fadeIn {
  from { opacity: 0.2; }
  to { opacity: 1; }
}

@keyframes slide {
  0%, 15% { transform: translateX(0); }  /* Hold Slide 1 */
  20%, 35% { transform: translateX(-100vw); } /* Transition to Slide 2 */
  40%, 55% { transform: translateX(-200vw); } /* Hold Slide 2 */
  60%, 75% { transform: translateX(-300vw); } /* Transition to Slide 3 */
  80%, 95% { transform: translateX(-400vw); } /* Hold Slide 3 */
  100% { transform: translateX(0); }  /* Transition back to Slide 1 */
}

/* Navbar section */
.navbar {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between; /* Logo on left, links on right */
  width: 100%;
  background-color: transparent;
  z-index: 1000;
  line-height: 2; 
  padding: 1px;
}

.cart-container img
{
  width: 3vw; /* Make the logo responsive and relatively larger */
  min-width: 40px; /* Minimum width */
  flex-shrink: 0; /* Prevent logo from shrinking */
  height: auto; /* Maintain aspect ratio */
}
.logo-container img 
{
  width: 15vw; /* Make the logo responsive and relatively larger */
  flex-shrink: 0; /* Prevent logo from shrinking */
  min-width: 80px; /* Minimum width */
  height: auto; /* Maintain aspect ratio */

}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Take the available space */
  gap: 1%;
}

.nav-links li a {
  color: black;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  position: relative;
  overflow: hidden;
}


.nav-links li a span {
  position: absolute;
  background-color: #000000;
  transition: all 0.3s ease;
}

/* Top Border */
.nav-links li a::before {
  content: '';
  position: absolute;

  left: 0;
  right: 0;
  top: 0;
  height: 2px;
  background-color: #000000;
  transform: scaleX(0);
  transform-origin: left; /* Starts from the top left */
  transition: transform 0.3s ease;
}

/* Bottom Border */
.nav-links li a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #000000;
  transform: scaleX(0);
  transform-origin: right; /* Starts from the bottom right */
  transition: transform 0.3s ease;
}

/* Left Border */
.nav-links li a span:first-child {
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  transform: scaleY(0);
  transform-origin: bottom; /* Starts from the bottom left */
  transition: transform 0.3s ease;
}

/* Right Border */
.nav-links li a span:last-child {
  top: 0;
  bottom: 0;
  right: 0;
  width: 2px;
  transform: scaleY(0);
  transform-origin: top; /* Starts from the top right */
  transition: transform 0.3s ease;
}

/* Hover Effects */
.nav-links li a:hover::before {
  transform: scaleX(1);
  transform-origin: right; /* Retracts to the right */
}

.nav-links li a:hover::after {
  transform: scaleX(1);
  transform-origin: left; /* Retracts to the left */
}

.nav-links li a:hover span:first-child {
  transform: scaleY(1);
  transform-origin: top; /* Retracts to the top */
}

.nav-links li a:hover span:last-child {
  transform: scaleY(1);
  transform-origin: bottom; /* Retracts to the bottom */
}

/* forms */
#form{
  width: 50%;
  height: 50%;
}
.page-container {
  width: 50%;
  height: 50%;
}
input{
  color: black;
}
label, input, textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
form {
width: 30em;
}
.form-control {
margin-bottom: 1em;
}
textarea {
min-height: 5em;
}

.form-control input,
.form-control textarea {
padding: 0.5em;}
input[type="checkbox"] {
display: inline-block;
width: auto; /* Override the width: 100%; rule */
margin-right: 0.5em; /* Add some space between the checkbox and the label */
}

.checkbox label {
display: inline-block; /* This will align the label next to the checkbox */
width: auto; /* Override the width: 100%; rule */
}
/* iframe {
  width: 600px;
  transition: width 0.3s ease-in-out;
  transform: translateZ(0);
  will-change: width;
}

iframe:hover {
  width: 100vw;
} */